[user]
name = Dan Cox
email = danzabian@gmail.com

[alias]
go = checkout -B
s  = status -s
pl = pull --rebase
st = status
rb = rebase
ci = commit
cl = clone
co = checkout
br = branch
ls = ls-tree --full-tree -r HEAD

tags     = tag -l
branches = branch -a
remotes  = remote -v

# credit: http://bit.ly/w06LOM
ribbon = tag --force _ribbon origin/master
catchup = log --patch --reverse --topo-order _ribbon..origin/master

# credit: http://bit.ly/10MMsoF
snapshot = !git stash save -u "snapshot: $(date)" && git stash apply "stash@{0}"

lg = log --pretty=format:\"%Cred%h%Creset%C(bold)%x09%aN%Creset%x09%C(cyan)%ad (%cr)%Creset%x09%C(bold green)%s%Creset\" --date=iso
lt = log --graph --oneline --all

[apply]
whitespace = warn

[core]
whitespace = space-before-tab,indent-with-non-tab,trailing-space
pager = less -R
# jump to the first line when writing/editing a commit message
editor = vim -c ':normal gg'

[commit]
template = ~/.commit-template.txt

[color]
ui = auto
branch = auto

[color "diff"]
meta = yellow bold
frag = magenta bold
old = red bold
new = green bold

[color "status"]
added = yellow
changed = green
untracked = cyan

# Use `origin` as the default remote on the `master` branch in all cases
[branch "master"]
remote = origin
merge = refs/heads/master

[branch]
autosetuprebase = always

[push]
default = simple
